.bg-container-login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.login-from-card {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border-radius: 8px;
}
.logo-with-login {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
}
.username-style {
  font-family: 'Roboto';
  font-size: 13px;
  color: white;
}
.input-element {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: #272727;
  border: #6366f1 solid 1px;
  outline: none;
  margin-top: 8px;
  margin-bottom: 5px;
}
.login-page-btn {
  width: 200px;
  height: 30px;
  background-color: #4f46e5;
  color: white;
  border-radius: 5px;
  border-style: none;
}
.error-message {
  color: red;
  font-size: 10px;
}
